[Unit]
Description=Gunicorn server for __SITENAME__

[Service]
Restart=on-failure
User=__USER__
WorkingDirectory=__ROOT__/sites/__SITENAME__/source
ExecStart=__ROOT__/sites/__SITENAME__/virtualenv/bin/gunicorn \
	--bind unix:/tmp/__SITENAME__.socket \
	superlists.wsgi:application

[Install]
WantedBy=multi-user.target
